.footer {
    width: 450px;
    text-align: center;
    display: block;
    margin: 15px auto 30px auto;
    font-size: 0.8em;
    color: #000;
    a {
        font-weight:500;
        text-decoration:none;
        color:grey;
    }
}